.bottom-navigation-panel {
    transition: height 0.2s;
    background: lighten($color-dark-custom-4,3%);
    background: linear-gradient(5deg, lighten($color-dark-custom-4,4%) 0%, lighten($color-dark-custom-4,4%) 40%, lighten($color-dark-custom-4,6%) 90%);
}
// .bottom-navigation-panel-hidden {
//     transition: height 0.2s;
//     background: lighten($color-dark-custom-4,3%);
//     background: linear-gradient(5deg, lighten($color-dark-custom-4,4%) 0%, lighten($color-dark-custom-4,4%) 40%, lighten($color-dark-custom-4,6%) 90%);
// }
.contact-info-panel-image {
    transition: all 1s;
}