@page "/map"
@using System.Drawing
@using BlazorLeaflet.Models
@using Kartel.Web.HubClients
@inject ClientSession Session
@inject RelationshipsClient Relationships
@inject IJSRuntime JsRuntime

@code {
    private BlazorLeaflet.Map _map;
    private PointF _startAt = new(47.5574007f, 16.3918687f);

    protected override async Task OnInitializedAsync()
    {
        _map = new BlazorLeaflet.Map(JsRuntime);
        _map.Layers.Add(new TileLayer
        {
            UrlTemplate = "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
            Attribution = "Tiles &copy; Esri",
        });

        var relationships = await Relationships.Subscribe(Session.PlayerId);
        foreach (var contact in relationships.Select(r => r.Person))
        {
            var location = contact.Location;
            var marker = new Marker((float) location.Latitude, (float) location.Longitude)
            {
                Title = contact.Name,
                //Popup = new Popup{Content = contact.Name}
                //RiseOnHover = false,
                //IsBubblingMouseEvents = false,
                //Icon = new Icon {Url = "... some url"}
            };

            // Add it to the layers collection
            _map.Layers.Add(marker);
        }
    }
}
<section class="content">
    <div class="container-fluid">
        <div id="mapContainer" style="width: 100%; height: 700px;">
            <LeafletMap Map="_map" InitialPosition="_startAt" InitialZoom="4.8f"/>
        </div>
    </div>
</section>