@charset "utf-8";
@import './Theme/eric-meyer-reset.scss';

// RESET

input {
    border: 0;
    margin: 0;
}

// THEME

$custom-color-1: #cc2936;
$custom-color-2: #343434;
$custom-color-4: #fa7e2c;
$custom-color-5: #6b818c;
$custom-color-6: #58eaf5;
$custom-light-grey: #f1efef;

$color-dark-custom-1: #000000;
$color-dark-custom-2: #0C0C0C;
$color-dark-custom-3: #121212;
$color-dark-custom-4: #1A1A1A;
$color-dark-custom-5: #202020;
$color-dark-custom-6: #252525;
$color-dark-custom-7: #343434;
$color-dark-custom-8: #4c4c4c;
$color-dark-custom-9: #767676;

$transition-time-shortest: 0.15s;
$transition-time-short: 0.3s;
$transition-time-medium: 0.6s;
$transition-time-longer: 1.2s;
$transition-time-long: 2.0s;

// FontAwesome
$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
// $FontPathOpenSans: "~open-sans-fonts/open-sans";
// @import '~open-sans-fonts/open-sans';
// $family-primary: 'Open Sans';

@mixin font($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file);
      src:
        //    url($font-file+'.eot?#iefix') format('embedded-opentype'),
        //    url($font-file+'.woff') format('woff'),
            // url($font-file+'.svg#aller') format('svg'),
            url($font-file) format('truetype')
           ;
      font-weight: normal;
      font-style: normal;
    }
}

@include font('Cairo-Regular', './public/fonts/Cairo-Regular.ttf');
@include font('Cairo-Bold', './public/fonts/Cairo-Bold.ttf');
@include font('Cairo-SemiBold', './public/fonts/Cairo-SemiBold.ttf');
@include font('Cairo-Light', './public/fonts/Cairo-Light.ttf');

// local
@import "./Pages/left-navigation";
@import "./Pages/bottom-navigation";

html, body {
    height: 100vh;
    background-color: #090909;
    font-family: "Cairo-Regular";
    // overflow: hidden;
}

#elmish-app {
    height: 100%;
    overflow: hidden;
}

#mapid { height: 180px; }

.top-persistent-menu-item {
    background-color: $custom-light-grey;
    transition: background-color $transition-time-short linear;
}

.top-persistent-menu-item:hover {
    background-color: darken($custom-light-grey, 7%);
    transition: background-color $transition-time-short linear;
}

.persistent-menu {
    visibility: visible;
    opacity: 0.9;
    transition: all $transition-time-medium linear;
    transition-property: opacity, visibility;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.persistent-menu.persistent-menu-hidden {
    visibility: hidden;
    opacity: 0.1;
    transition: all $transition-time-medium linear;
    transition-property: opacity, visibility;
}

#main-map {
    height: 100%;
    width: 100%;
}

.hover-opacity-up {
    opacity: 0.5;
    transition: all $transition-time-short linear;
}
.hover-opacity-up:hover {
    opacity: 0.9;
    transition: all $transition-time-short linear;
}

.left-menu-context-button {
    opacity: 0.9;
    transition: all $transition-time-shortest linear;
}

.left-menu-context-button:hover {
    opacity: 1.0;
    transition: all $transition-time-shortest linear;
}