@inherits LayoutComponentBase

<div class="main wrapper">
    <Header></Header>
    <NavMenu />
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    @Body
                </div>
            </div>
        </div>
    </section>
</div>